*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-Bai-Jamjuree);
}

:root{
    /* primary color */
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);

    /* natural color */
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);

    /* font family */
    --ff-Bai-Jamjuree: 'Bai Jamjuree', sans-serif;

    /* fonr waite */
    --fw-regular: 400;
    --fw-semi-bold: 600;
}

body{
    background-color: lightblue;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*------------- header -------------*/
.header{
    width: min(90rem, 100%);
    background-color: #fff;
    background-image: url(../img/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    padding-bottom: 5rem;
}

.header__logo-img{
    display: block;
    margin-inline: auto;
    margin-top: 8rem;
}

.header__title{
    color: var(--Dark-Grayish-Blue);
    font-size: 2.8rem;
    font-weight: var(--fw-semi-bold);
    margin: 4rem 1rem 0 1rem ;
}

.header__sub-title{
    font-size: 1rem;
    max-width: 60ch;
    font-weight: var(--fw-regular);
    color: var(--Grayish-Blue);
    margin-top: 1.25rem;
    margin-inline: auto;
    padding: 0 1rem;
}

.header__btn{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: var(--fw-semi-bold);
    padding: 1.2rem 2.25rem;
    border-radius: 5rem;
    display: inline-block;
    box-shadow: 3px -13px 0px -10px rgba(0,0,0,0.1) inset;
}

.btn-first{
    background-color: var(--Strong-Cyan);
    margin: 3rem .4rem 0 1rem;
}

.btn-second{
    background-color: var(--Light-Blue);
    margin: 3rem 1rem 0 .4rem;
}

/*------------- header -------------*/
.main{
    background-color: #fff;
    width: min(90rem, 100%);
    padding-top: 3rem;
}

.main__title{
    color: var(--Dark-Grayish-Blue);
    font-size: 2.2rem;
    font-weight: var(--fw-semi-bold);
    text-align: center;
    padding: 0 1rem;
}

.main__sub-title{
    font-size: 1rem;
    color: var(--Grayish-Blue);
    max-width: 60ch;
    margin-inline: auto;
    margin-top: 1.25rem;
    text-align: center;
    padding: 0 1rem;
}

/* track box */
.main__track-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.5rem;
    overflow-x: hidden;
    padding-bottom: 5rem;
}

/* left */
.track__img-wrapper{
    width: 53%;
}

.track__img{
    display: block;
    width: 100%;
    transform: translateX(-2rem);
}

/* right */
.track__report-wrapper{
    width: 43%;
}

.track__report{
    width: 100%;
    margin-bottom: 3.7rem;
}

.report__title{
    font-size: 1.5rem;
    color: var(--Dark-Grayish-Blue);
    font-weight: var(--fw-semi-bold);
}

.report__sub-title{
    font-size: 1rem;
    font-weight: var(--fw-regular);
    color: var(--Grayish-Blue);
    max-width: 33ch;
    line-height: 1.5;
    margin-top: .5rem;
}

/*------------- access -------------*/
.access{
    width: 100%;
    padding-top: 4rem;
    background-color: transparent;
}

.access__sub-title{
    max-width: 66ch;
}

.access__img-wrapper{
    width: 100%;
}

.access__img{
    display: block;
    width: min(50rem, 90%);
    margin-inline: auto;
    margin-top: 5rem;
}

/*------------- supercharge area --------------*/
.supercharge{
    margin-top: 3rem;
    margin-bottom: 5rem;
    width: 100%;
}

.supercharge__status{
    width: 100%;
    display: flex;
    justify-content: center;
}

.status__box{
    width: calc(100% / 3 - 6.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 4rem;
}

.status__img{
    display: block;
    margin-bottom: 2.5rem;
    width: 2.5rem;
}

.status__eye{
    width: 3.5rem;
}

/*------------- brands area --------------*/
.brands{
    background-color: transparent;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 4rem;
    padding-bottom: 5rem;
    margin-inline: auto;
}

.brands__img{
    display: block;
    width: calc(100% / 5 - 6rem);
    min-width: 12rem;
    margin: 3.5rem 2rem;
}





/*-------------- respondive ----------------*/

@media(max-width: 1166px){
    /*------------- supercharge area -------------*/

    .supercharge__status{
        flex-direction: column;
        align-items: center;
    }

    .status__box{
        width: calc(100% - 1rem);
    }
}


@media(max-width: 820px){
    /*------------- main -------------*/

    /* track box */
    .main__track-box{
        flex-direction: column;
        padding-bottom: 3rem;
    }

    /* left */
    .track__img-wrapper{
        width: 100%;
    }

    .track__img{
        transform: translateX(0);
        width: 90%;
        margin-inline: auto;
        max-width: 30rem;
    }

    /* right */
    .track__report-wrapper{
        margin-top: 3.5rem;
        width: 100%;
    }

    .track__report{
        margin-bottom: 3.5rem;
        text-align: center;
    }

    .report__sub-title{
        max-width: 40ch;
        margin-inline: auto;
        padding: 0 1rem;
    }
}



@media(max-width: 466px){
    /*------------- header -------------*/
    .header__title{
        font-size: 2rem;
    }

    .header__sub-title{
        font-size: .9rem;
    }
}


@media(max-width: 458px){
    /*------------- header -------------*/
    .header__btn{
        width: 90%;
    }

    .btn-first{
        margin: 3rem 0 0 0;
    }

    .btn-second{
        margin: 1rem 0 0 0;
    }
}

@media(max-width: 375px){
    /*------------- header -------------*/
    .header{
        background-image: url(../img/bg-header-mobile.png);
    }
}